Hi <%= @name %>,

<p>I'd like to tell you the story of how the idea behind WellWish came to
be.</p>

<p>A few short years ago, my girlfriend Jayna and me headed out for our usual
Sunday morning coffee. The weather outside was perfectly comfortable, and we
we're going to make the most of in. Picnic blanket in hand we made our way a
nearby park via our regular coffee shop.</p>

<p>We found our place in the speckled sunlight under a gum tree and sat down,
stretching our legs and sipping our coffee. Other couples, a group of friends,
and a family or two with their young children were scattered over the grass. In
the near distance, a trio of boys were trying to play basketball.</p>

<p>I say 'trying' because someone had obviously slam-dunked the ring, hanging
from it until it drooped near vertically from the brick wall to which it was
affixed. Shooting at the black square painted above the broken hoop, the boys
argued, first indifferently, but before long vehemently as to whether or not
the ball 'would have gone in'.</p>

<p>Frustration is contagious and I'd caught it from the boys. Initially I was
annoyed at the boys whose unknowable disagreement was rapidly escalating, then
at the local all-star who'd dunked the ring rendering it useless. Then at
myself for letting it get to me.</p>

<p>"I'm going home to get a ladder", I proclaimed.</p>

<p>Jayna knew this was coming. "Just relax and drink your coffee, you just want
to be the hero.", she correctly surmised with a smirk.</p>

<p>I wanted to help out. All that needed to be done was to bend the ring back
into place, and all that was needed to do that was a step ladder, which I had
at home, a ten minute walk away. But it was inconvenient.</p>

<p>Had I had of known the ring was bent before I left the house, I like to
think I would have brought the ladder with me. I'd have casually walked over
the the boys, and without a word climbed up, push the ring back into shape and
modestly pretend not to bask in their gratitude.</p>

<p>But I didn't have the ladder, I didn't know it was broken when I left the
house, and with a warm coffee, limited time, and well, some all-too-human
laziness, I did something else instead. I checked my phone to see if there was
somewhere I could report the problem. I didn't exaclty know what I was looking
for, but I had some idea that there must be some kind of online database where
I can highlight some public or social issue that needs addressing. I wasnted to
take a photo, geo-tag it, mark it as requiring a ladder and hope that someone
would fix it. But that online database doesn't exist. WellWish intends to fill
that gap.</p>

<p>If you see or know of some issue that you think somebody, who has the time,
or the specific skills or tools, or inclination to fix, then simply by listing
the issue, you're helping somebody else do some good, which in itself is
good.</p>

<p>And if you're the type who wants to do some good, but have found it
difficult to find tasks that suit your availability, or your skills, or tools,
or location, then here's your chance.</p>

<p>In the coming weeks WellWish will be trialling a limited launch. Register
with your location, skills, tools etc, and we'll notify you when an issue gets
listed that we think you might be able to help with. We call these issues
Wishes. Wishes can be voted on by other users, with worthwhile wishes gaining a
higher karma score and greater exposure. If you take the time to help out,
completing the task you can mark the wish as resolved. We'll verify your
contribution and celebrate your contribution by listed the contribution on your
wall and with the karma score of the Wish going to you.</p>

<p>Many of us use LinkedIn to showcase our employment history. WellWish
ambitiously aims to be the place where we list, discuss, vote on, complete, and
celebrate contributions to humanity.</p>

<p>Thanks for your interest, we'll be keeping you update.</p>

<p>Sheldon at WellWish</p>

<p>Unsubscribe at #TODO unsubscribe url</p>
